/**
 *	Project Name	:	Multi Level Navigation
 *	Date			:	17/Feb/2015
 *	Developer		:	Thona Euk
 *	Developer URI	:	http://glean.net
 */
 
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Arial, Verdana;
	font-size: 18px;
}
nav {
	background: #ccc;
	min-height: 50px;
	position: relative;
	border-bottom: 1px solid #ddd;
}
.toggle-button {
	position: absolute;
	padding-top: 8px;
	width: 40px;
	height: 26px;
	right: 10px;
	top: 10px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.toggle-button:hover,
.toggle-button:active,
.toggle-button:focus {
	background: #aaa;
}
.toggle-button span {
	width: 20px;
	height: 2px;
	margin: 0 10px 5px 10px;
	display: block;
	background-color: #eee;
}
.toggle-button span:last-child {
	margin-bottom: 0;
}
ul {
	display: none;
	position: absolute;
	width: 100%;
	top: 51px;
	background: #ccc;
}
ul a {
	display: block;
	padding: 10px 15px;
	color: #333;
	text-decoration: none;
}
ul a:hover {
	background: #eee;
}