/**
 *	Project Name	:	Multi Level Navigation
 *	Date			:	17/Feb/2015
 *	Developer		:	Thona Euk
 *	Developer URI	:	http://glean.net
 */
 
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Arial, Verdana;
	font-size: 18px;
	background: #DDD;
}
nav {
	background: #FFE4C4;
	min-height: 60px;
	position: relative;
	border-bottom: 1px solid #ddd;
}
.logo {
	display: block;
	text-indent: -9999px;
	background: url(../images/cocacola.png) no-repeat;
	background-size: 105px 45px;
	width: 105px;
	height: 45px;
	position: absolute;
	top: 8px;
	left: 15px;
}
.toggle-button {
	position: absolute;
	padding-top: 8px;
	width: 40px;
	height: 26px;
	right: 10px;
	top: 10px;
	border: 1px solid #eee;
	cursor: pointer;
	background: blue;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.toggle-button:hover,
.toggle-button:active,
.toggle-button:focus {
	background: #aaa;
}
.toggle-button span {
	width: 20px;
	height: 2px;
	margin: 0 10px 5px 10px;
	display: block;
	background-color: #eee;
}
.toggle-button span:last-child {
	margin-bottom: 0;
}
ul {
	position: absolute;
	width: 100%;
	top: 58px;
	background: #ccc;
	display: none;
	list-style: none;
}
 ul li a span {
	display: inline-block;
	position: absolute;
	border-top: 5px solid #333;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	right: 15px;
}
ul ul{
	position: static;
	background:#ccc;
	text-align: left;
	display: none;
	top: 41px;
	width: auto;
}
ul ul a {
	padding-left: 30px;
	background: #F0FFFF;
}
.show {
	display: block;
}
ul a {
	display: block;
	padding: 10px 15px;
	color: #2F4F4F;
	text-decoration: none;
}
ul a:hover {
	background: #eee;
}

@media ( min-width: 992px ) {
	nav {
		min-height: 0;
	}
	ul {
		position: absolute;
		width: 100%;
		background: #ccc;
		display: block;
		top: 0;
		text-align: center;
		list-style: none;
		height: 64px;
	}
	ul li {
		display: inline-block;
	}
	ul li a{
	padding: 22px 40px;
	display: block;
	text-decoration: none;
	color: #333;
	position: relative;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
 }
 ul li a span {
	display: inline-block;
	position: absolute;
	border-top: 5px solid #333;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 31px;
	right: 15px;
}
 ul li:hover ul{
	visibility: visible;
 }
 .logo {
	display: block;
	text-indent: -9999px;
	background: url(../images/cocacola.png) no-repeat;
	background-size: 105px 45px;
	width: 100px;
	height: 40px;
	position: absolute;
	height: 50px;
	top: 9px;
	left: 15px;
	z-index: 80
}
ul ul{
	position: absolute;
	background:#ccc;
	text-align: left;
	visibility: hidden;
	z-index: 999;
	top: 65px;
	width: auto;
 }
  ul ul li{
	display: block;
 }
	li {
		display: block;
	}
	li a {
		padding: 20px 40px;
	}
	.toggle-button {
		display: none;
	}
}