/**
* Project Name		: Multi Level navigation
* Date				: 25/**
* Project Name		: Multi Level navigation
* Date				: 24/02/2015
* Developer			: Euk Thona
* Developer URL		: ttp://glean.com
*/

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, vernad;
	background: #ccc;
	font-size: 18px;
}
nav {
	background: #ddd;
	min-height: 54px;
	position: reletive;
	border-bottom: 1px solid #fff;
}
.toggle-button {
	position: absolute;
	padding-top: 8px;
	width: 40px;
	height: 26px;
	right: 10px;
	top: 10px;
	border: 1px solid #eee;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.toggle-button:hover,
.toggle-button:active,
.toggle-button:focus {
	background: #aaa;
}
.toggle-button span {
	width: 20px;
	height: 2px;
	margin: 0 10px 5px 10px;
	display: block;
	background-color: #eee;
}
.toggle-button span:last-child {
	margin-bottom: 0;
}
ul {
	position: absolute;
	width: 100%;
	top: 51px;
	background: #87CEFA;
	display: none;
	list-style: none;
}
 ul li a span {
	display: inline-block;
	position: absolute;
	border-top: 5px solid #333;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	right: 15px;
	top: 15px;
}
ul ul{
	position: static;
	background:#aaa;
	text-align: left;
	display: none;
	top: 41px;
	width: auto;
}
ul ul a {
	padding-left: 30px;
}
.show {
	display: block;
}
ul a {
	position: relative;
	display: block;
	padding: 10px 15px;
	color: #444;
	text-decoration: none;
}
ul a:hover {
	background: #eee;
}
@media ( min-width: 992px ) {
	nav {
		background: #FFEBCD;
		position: static;
		min-height: 44px;
		
	}
	.toggle-button{
		display: none;
	}
	ul {
		position: static;
		display: block;
		top: 53px;
		width: 100%;
		background: #aaa;
		text-align: center;
		list-style: none;
	}
	ul li {
		display: inline-block;
	}
	ul ul li {
	display: block;
	}
	ul li:hover ul{
	visibility: visible;
 }
  }
	ul li a{
	padding: 10px 40px;
	display: block;
	color: #333;
	text-decoration: none;
	position: relative;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	cursor: auto;
 }
  ul li a span {
	display: inline-block;
	top: 20px;
 }
}