/**
* Project Name		: Multi Level navigation
* Date				: 24/02/2015
* Developer			: Euk Thona
* Developer URL		: ttp://glean.com
*/

*{
	padding: 0;
	margin: 0;
}
body {
	font-family: Arial, Verdana;
	font-size: 18px;
	background: #B0C4DE;
}
nav {
	background: #FF1493;
	min-height: 52px;
	position: relative;
	border-bottom: 1px solid #ddd;
}
.logo {
	display: block;
	text-indent: -9999px;
	background: url(../images/logo-m.png) no-repeat;
	background-size: 82px 32px;
	width: 82px;
	height: 32px;
	position: absolute;
	top: 9px;
	left: 15px;
}
.toggle-button {
	position: absolute;
	padding-top: 8px;
	width: 40px;
	height: 26px;
	right: 10px;
	top: 8px;
	border: 1px solid #eee;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.toggle-button:hover,
.toggle-button:active,
.toggle-button:focus {
	background: #aaa;
}
.toggle-button span {
	width: 20px;
	height: 2px;
	margin: 0 10px 5px 10px;
	display: block;
	background-color: #eee;
}
.toggle-button span:last-child {
	margin-bottom: 0;
}
ul {
	position: absolute;
	width: 100%;
	top: 51px;
	background: #FF00FF;
	display: none;
	list-style: none;
}
 ul li a span {
	display: inline-block;
	position: absolute;
	border-top: 5px solid #333;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	right: 15px;
	top: 15px;
}
ul ul{
	position: static;
	background:#FF00FF;
	text-align: left;
	display: none;
	top: 41px;
	width: auto;
}
ul ul a {
	padding-left: 30px;
}
.show {
	display: block;
}
ul a {
	position: relative;
	display: block;
	padding: 10px 15px;
	color: #FFFAF0;
	text-decoration: none;
}
ul a:hover {
	background: #2F4F4F;
}
@media ( min-width: 992px ) {
	.logo {
		top: 7px;
	}
	nav {
		background: #b3020c;
		position: static;
		min-height: 44px;
	}
	.toggle-button {
		display: none;
	}
	ul {
		position: static;
		display: block;
		top: 53px;
		width: 100%;
		background: #87CEFA;
		#text-align: center;
		list-style: none;
	}
	#ul li {
		display: inline-block;
	}
	ul ul li {
		display: block;
	}
	ul li:hover ul{
	visibility: visible;
 }
  ul ul{
	position: absolute;
	background:#ccc;
	text-align: left;
	visibility: hidden;
	z-index: 999;
 }
	ul li a{
	padding: 10px 40px;
	display: block;
	color: #333;
	text-decoration: none;
	position: relative;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	cursor: auto;
 }
 ul li a span {
	display: inline-block;
	top: 20px;
 }
}